.vscode/**
.vscode-temp/**
.vscode-test/**
etc/**
images/VSC.PNG
.dmy
dist_/**
out/**
out_/test/**
out_/build/**
**/*.map
.dmy
.gitattributes
.gitignore
.vscodeignore
.vscode-test.mjs
anyTreeConfig.json
.dmy
src/**
**/tsconfig.json
**/tslint.json
**/*.ts