.vscode/**
.vscode-test/**
images/VSC.PNG
.dmy
dist_/**
out/**
src/**
etc/**
.dmy
.gitattributes
.gitignore
.vscodeignore
.vscode-test.mjs
anyTreeConfig.json
*.vsix
*.code-workspace
.dmy
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts